<h1><%= @act.name %></h1>
<h3>Born: <%= @act.dob %></h3>

  <td>
    <img src="<%=@act.image_url%>" width="100">
  </td>

 <td>
    <%= @act.bio %>
  </td>
  <p>
    <a href="http://localhost:3000/actors/delete/<%= @act.id %>">Delete</a>
  </p>
  <p>
   <a href="/actors">Back to Actors</a>
 </p>
